In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from statsmodels.stats.multicomp import pairwise_tukeyhsd
import matplotlib.colors as mcolors

# Read in the dataset:
wowah1 = pd.read_csv('wowah_data.csv')

# Check out the data info:
wowah1.info()

# Check out the head:
wowah1.head()

# Check out the tail:
wowah1.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10826734 entries, 0 to 10826733
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   char        int64
 1    level      int64
 2    race       object
 3    charclass  object
 4    zone       object
 5    guild      int64
 6    timestamp  object
dtypes: int64(3), object(4)
memory usage: 578.2+ MB

,char,level,race,charclass,zone,guild,timestamp
10826729,86766,80,Blood Elf,Death Knight,Halls of Lightning,101,12/31/08 23:50:18
10826730,86497,77,Blood Elf,Death Knight,The Storm Peaks,358,12/31/08 23:50:18
10826731,34893,80,Blood Elf,Death Knight,The Storm Peaks,189,12/31/08 23:50:18
10826732,86881,80,Blood Elf,Death Knight,Dragonblight,478,12/31/08 23:50:18
10826733,86457,80,Blood Elf,Death Knight,Dragonblight,204,12/31/08 23:50:18